# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/

# Env
.env
.env.local
.env.*.local

# Node
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock
dist/
build/

# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Misc
coverage/
.cache/
*.log
*.tmp
